.posts-grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 12px;
    padding: 20px;
}

.post-card {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
    font-size: small;
    font-weight: 300;
    overflow: auto;
    cursor: pointer;
}

.post-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.selected-post {
    border: 1.5px solid #778da9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-card::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.post-card::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.post-card::-webkit-scrollbar-track {
    margin: 10px;
}

@media screen and (max-width: 320px) {
    .posts-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .post-card {
        font-size: large;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .posts-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .post-card {
        font-size: large;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .posts-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .post-card {
        font-size: medium;
    }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
    .posts-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .post-card {
        font-size: medium;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .posts-grid-container {
        grid-template-columns: repeat(8, 1fr);
    }
    .post-card {
        font-size: medium;
    }
}
